<!DOCTYPE html>
<head>
    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link rel='icon' href='images/favicon.ico' type='image/x-icon'/ >
    <link rel="stylesheet" type="text/css" href="css/screen.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/chosen.min.css" media="screen" />
    <link type="text/css" rel="stylesheet" href="css/starability.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/cloudmovies.js"></script>
    <script src="js/chosen.jquery.min.js"></script>
    <script src="https://www.jsviews.com/download/jsviews.min.js"></script>
    
    <title>CloudMovies 2020</title>
    <style>
        .container {
          display: inline-block;
          cursor: pointer;
        }
        
        .bar1, .bar2, .bar3 {
          width: 35px;
          height: 5px;
          background-color: rgb(225, 225, 225);
          margin: 6px 0;
          transition: 0.4s;
        }
        
        .change .bar1 {
          -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px);
        }
        
        .change .bar2 {opacity: 0;}
        
        .change .bar3 {
          -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
        }
        </style>
</head>
<body onload="checkSession(); getMovieList();">

<div id="header">
    <p align="center">
       <!-- <iframe src="https://ntmaker.gfto.ru/newneontexten/?image_height=120&image_width=600&image_font_shadow_width=1&image_font_size=100&image_background_color=1c1c1c&image_text_color=DE0000&image_font_shadow_color=F79292&image_url=&image_text=Cloud%20Movies&image_font_family=Screpka&" frameborder='no' scrolling='no' width="600" height="120"></iframe>
       -->
       <img src="images/title.gif">
    </p>
    <div id = "menuicon" class="container" onclick="hidemunu(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>

      
    <ul>

    </ul>
</div>

<table id="cmMainTable" style="width:100%;border:0;"><tr>
    
    <td id="menuCol" valign="top">

        <ul  class="leftSideEntries">
          <li class="leftSideEntry" id="home" onclick="getMovieList()">Homepage</li>
		  <li class="leftSideEntry" id="favorites" style="display: none" onclick="showFavorites()">My favorites</li>
        </ul>
        
        <div class="login" id="loginDiv">
            <form id="loginform" onsubmit="login(); return false;">
            <input type="text" placeholder="Username" id="username" />
            <input type="password" placeholder="Password" id="password" />  
            <input type="submit" value="Sign In" />&nbsp;&nbsp;&nbsp;
            <input type="button" value="Register" onclick="register();" />
            </form>
            <div id="loginError"></div>
        </div> 
        <div id="welcomeDiv" style="display: none" align="center">
            <div id="welcomemsg"></div>
            <input id="logoutbutton" type="button" value="Sign Out" onclick="logout()">
        </div>

    </td>

        <script>
        var x = document.getElementById("menuCol");
        x.style.display = "none";
        </script>

    <td id="cmMiddleCol" valign="top">

        <div id="basicSearchDiv">
            <form id="searchForm" class="search-container" onsubmit="onBasicSearchSubmit(); return false;">
                <input type="text" id="searchMovieInput" placeholder="Search for a movie" />
                <img class="search-icon" onclick="onBasicSearchSubmit();" src="http://www.endlessicons.com/wp-content/uploads/2012/12/search-icon.png" />
                <span class="toggleSearchBtn" onclick="showAdvancedSearch();">&raquo; advanced</span>
            </form>
        </div>
        <div id="advancedSearchDiv"></div>
        <div id="mainContentDiv"></div>

    </td>
    <!--
    <td id="cmRightCol" valign="top">
        <div class="login" id="loginDiv">
            <form id="loginform" onsubmit="login(); return false;">
            <input type="text" placeholder="Username" id="username" />
            <input type="password" placeholder="Password" id="password" />  
            <input type="submit" value="Sign In" />&nbsp;&nbsp;&nbsp;
            <input type="button" value="Register" onclick="register();" />
            </form>
            <div id="loginError"></div>
        </div> 
        <div id="welcomeDiv" style="display: none" align="center">
            <div id="welcomemsg"></div>
            <input id="logoutbutton" type="button" value="Sign Out" onclick="logout()">
        </div>
    </td>
-->
</tr></table>
      
<div id="footer">
    <p align="center">CloudMovies - 2020</p>
</div>


<script id="mainDivTmpl" type="text/x-jsrender">
    {{if title}}<div id="mainTitleDiv">{{:title}}</div>{{/if}}
    {{for movies tmpl="#listMovieTmpl" /}}
    {{if showmore}}
        <div id="showMoreButton{{:start}}" style="clear:both;width:100%;margin-top:5px;text-align:center;">
            <input id="showmorebutton" type=button value="Show More" 
                {{if getmovielist}}onclick="getMovieList({{:start}})"{{/if}}
                {{if search}}onclick="searchMovie('{{:url}}',{{:start}})"{{/if}}
            >
        </div>
    {{/if}}
</script>

<script id="listMovieTmpl" type="text/x-jsrender">
    <div class= "listmovieimg"style="float:left;margin-right:12px;width:180px;height:320px;">
    <div class= "posterhover">
    <img src="images/notfound.png" alt="loading..." width="180" height="270" id="poster{{:id}}" onclick="infoMovie({{:id}})"/>
    {{:"<scr" + "ipt defer type=&quot;text/javascript&quot;>"}}getPoster({{:id}});{{:"</scr" + "ipt>"}}
    </div><div class="imagetitle" >{{:title}}</div>
    </div>
</script>

<script id="movieInfoTmpl" type="text/x-jsrender">
<div class="poster">
   <img src="images/notfound.png" alt="loading" width="300" id="poster{{:id}}">
   {{:"<scr" + "ipt defer type=&quot;text/javascript&quot;>"}}getPoster({{:id}});{{:"</scr" + "ipt>"}}
   <br>
</div>



<div id="info">
    <table>
        <tr>
          <th><h1>{{:title}}</h1></th>
          <th><h1>   </h1></th>
          <th> {{if isfavorite}} 
            <img src="images/{{:isfavorite}}favorite.png" alt="loading" width="40" id="favoriteIcon" onclick="toggleFavorite({{:id}})">
            {{/if}}</th>
        </tr>
      
      </table>
    
    <br>    
    <b>Director: </b>{{if director}} {{:director}} {{else}} N/A {{/if}}
    <br>
    <b>Main actors: </b>{{if actors.length != 0}} {{:actors}} {{else}} N/A {{/if}}
    <br>
    <b>Release date: </b>{{if release_date}} {{:release_date}} {{else}} N/A {{/if}}
    <br>
    <b>Vote: </b>{{if vote_average}} {{:vote_average}} {{else}} N/A {{/if}}
    <br>
    <b>Geners: </b>{{if genres.length != 0}} {{:genres}} {{else}} N/A {{/if}}
    <br>
    <b>Homepage: </b>{{if homepage}}<a href="{{:homepage}}">{{:homepage}}</a> {{else}} N/A {{/if}} 
    <br>
    <b>Budget: </b>{{if budget}} {{:budget}} $ {{else}} N/A {{/if}}
    <br>
    <b>Original language: </b>{{if original_language}} {{:original_language}} {{else}} N/A {{/if}}
    <br>
    <b>Overview: </b>{{if overview}} {{:overview}} {{else}} N/A {{/if}}
    <br>
    <b>Producton Companies: </b>{{if production_companies.length != 0}} {{:production_companies}} {{else}} N/A {{/if}}
    <br>
    <b>Runtime: </b>{{if runtime}} {{:runtime}} min {{else}} N/A {{/if}}
    <br>
    <b>Revenue: </b>{{if revenue}} {{:revenue}} $ {{else}} N/A {{/if}}
    <br>
    <b>Keywords:</b> {{if keywords.length != 0}} {{:keywords}} {{else}} N/A {{/if}}
    <hr>
    <br>
    <h3>Trailer:</h3>{{if youtube}}<iframe width="550" height="300" align="middle" src="{{:youtube}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> {{/if}}
    
</div>
</script>

</body>
</html>

